

src/run/make_index.py
to_do.txt
src/nohup.out

.DS_Store
._.DS_Store

data/
results/
src/ipynb/

.ipynb_checkpoints/
src/__pycache__/
src/.ipynb_checkpoints/
src/test/__pycache__/
src/test/.ipynb_checkpoints/
src/regrid/grid*
src/regrid/TEMP*
src/regrid/in*
src/regrid/slurm*
src/regrid/temp*
src/run/*.out
src/run/run.sh
src/run/slurms/
src/run/run_scripts.ipynb
src/run/dask-worker-space/
doc/cam5_desc.pdf
src/.vscode/

doc/CESM1.04_user_guide.pdf
doc/~$*.ods
doc/POPRefManual.pdf

*.swp
*.pyc
