to_do.txt

results/
src/ipynb/

.ipynb_checkpoints/
src/__pycache__/
src/.ipynb_checkpoints/
src/test/__pycache__/
src/test/.ipynb_checkpoints/
src/run/*.out
src/run/run.sh
src/run/slurms
rc/run/run_scripts.ipynb

doc/cam5_desc.pdf
doc/CESM1.04_user_guide.pdf
doc/~$*.ods
doc/POPRefManual.pdf

*.swp
*.pyc
